{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>{{ project_detail.name }}</h1>
                    <p>{{ project_detail.description }}</p>
                    <h2>Tasks</h2>
                    <p>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                    {% if project_detail.tasks.count != 0 %}
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </thead>
                            {% for task in project_detail.tasks.all %}
                                <tbody>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
